@{
    ViewBag.Title = "Contact";
}
<h3>@ViewBag.Title</h3>

<address>
    16 Silver Springs Rd<br />
    Burnsville, NC 28714<br />
    <abbr title="Phone">C:</abbr>
    828-284-1303
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:isaacstyles92@gmail.com">isaacstyles92@gmail.com</a><br />
</address>