@{
    ViewData["Title"] = "Common Sense";
}
<div class="jumbotron"><h1 class="text-center">Do you have COMMON SENSE?</h1></div>
<h2 class="text-center">Not Thomas Paine's pamphlet but the kind you hope your children inherit.</h2>
<p class="text-center">Intended to be as funny as thought provoking, explanations are included at the end.</p>
<div class="text-center">
    <div>
        @Html.ActionLink("Click if you're inquisitive", "../Exam/Index", null, null, new { @class = "btn btn-primary btn-large" })
    </div>
</div>
